*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(192, 239, 244);
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.container{
    background-color: white;
    height: auto;
    width: auto;
    padding: 1rem;
    border-radius: 1rem;


}

.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
     
}

.heading>span{
    cursor: pointer;
}

th{
    text-align: center;
    font-weight: 600;
    padding: 5px;
}

td{
    padding: 5px;
}


.line{
    border-top: 1px solid rgb(159, 158, 158);
    margin: 5px 0;
    padding: none;
}

p{
    font-weight: 600;
    font-size: 1.1rem;
    padding-top: 5px;
}

.fade{
    color: rgb(172, 170, 170);
}

.present{
    background-color: rgb(2, 140, 190);
    color: #fff;
    border-radius: .6rem;
}